<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <h1>HELLO WORLD</h1>
    <p>HELLO</p>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
